@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Syne:wght@400;700;800&display=swap');
 
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
 
:root {
  --bg: #0a0a0a;
  --surface: #111111;
  --border: #222222;
  --accent:#35f145  ;
  --accent-dim: rgba(200, 241, 53, 0.12);
  --text: #f0f0f0;
  --text-muted: #555;
  --done: #3cffa0;
  --radius: 12px;
  /* rgb(255, 111, 0), #c8f135*/
  
}

body{
  background-color: var(--bg);
  color: white;
}

.auth-view{
  width: 100%;
}

header{
  margin: 60px;
  margin-bottom: 150px;
}

header h1 {
  font-size: 2.8rem;
  font-weight: 800;
  line-height: 1;
  letter-spacing: -0.03em;
  font-family: 'Syne';
  color: white;
}
 
header h1 span {
  color: var(--accent);
}

header p{
  margin-top: 8px;
  color: var(--text-muted);
  font-family: 'Space Mono', monospace;
  font-size: 0.8rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.auth-form{
  display: grid;
  justify-self: center;
  gap: 14px;
  background: var(--surface);
  border: 1px solid var(--border);
  padding: 20px;
  border-radius: 12px;
  width: 60%;
}

.auth-form div{
  display: grid;
}

.auth-form label{
  font-family: 'Google Sans';
  font-size: 1rem;
  margin-bottom: 5px;
}

.auth-form input{
  background: var(--surface);
  border: 1px solid grey;
  font-family: 'Google Sans';
  padding: 10px;
  border-radius: 8px;
  color: whitesmoke;
}

.auth-form input::placeholder{
  color: grey;
  font-family: 'Google Sans';
}

.auth-btn{
  color: white;
  background:linear-gradient(var(--accent) 70%, var(--done));
  border: none;
  padding: 10px;
  border-radius: 8px;
  font-family: 'Google Sans';
  cursor: pointer;
  margin-top: 30px;
  font-size: 0.9rem;
  border: 1px solid rgb(46, 180, 50);
  font-weight: bold;
}

.auth-switch{
  font-family: 'Google Sans';
  color: rgb(172, 172, 172);
  font-size: 0.8rem;
  margin-inline:auto;
  margin-top: 20px;
}

.switch-link{
  color: white;
  font-weight: bold;
  cursor: pointer;
}


.auth-form.hidden{
  display: none;
}

.error-message{
  margin-inline: auto;
  font-family: 'Google Sans';
  color: red;
  font-size: 0.85rem;
}

.password-container{
  position: relative;
}

.password-container button{
  position: absolute;
  right: 10px;
  align-self: center;
  border: none;
  background-color: transparent;
}

.password-container img{
  width: 20px;
  cursor: pointer;
}